@{
    ViewBag.Title = "About";
}

<br />
<br />
<br />


<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="~/pics/banner2.jpg" alt="" style="width:100%;">
                <div class="carousel-caption">

                </div>
            </div>

            <div class="item">
                <img src="~/pics/banner2.jpg" alt="" style="width:100%;">
                <div class="carousel-caption">


                </div>
            </div>



        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<br />
</br/>
</br/>




    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
                <img src="~/pics/a7.png" style="float:left;width:300px;margin:10px;" />

                <h1>Why we need Inventory Management System</h1>

                <p style="text-align:justify;">


                    When most people think of inventory management, they think of retail applications. While retail operations rely heavily on inventory management, inventory management systems are widely used in a variety of industries, from manufacturing to utilities, healthcare, education, government, and more. Inventory management systems streamline and centralize the process for controlling the flow and maintenance of inventory to ensure that the right amount of inventory is available at the right time and of the right quality.
                </p>
                <h1>Definition of an Inventory Management System ?</h1>
                <p>


                    An inventory management system is the combination of technology (hardware and software) and processes and procedures that oversee the monitoring and maintenance of stocked products, whether those products are company assets, raw materials and supplies, or finished products ready to be sent to vendors or end consumers. A complete inventory management system consists of:
                    Hardware tools for reading barcode labels, such as handheld barcode scanners or smartphones with barcode scanning apps.
                    Inventory management software, which provides a central database and point of reference for all inventory, coupled with the ability to analyze data, generate reports, forecast future demand, and more.
                </p>
            </div>


        </div>

    </div>

